.sektion {
  padding: 70px 0;
  display: grid;
  gap: 24px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}

.intro_tekst {
  font-size: var(--fs-stor);
  margin-bottom: 24px;
}

.om_mig_tekst {
  font-size: var(--fs-stor);
  margin-bottom: 24px;
}

.intro_knapper {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.intro_knapper .knap {
  width: fit-content;
  min-width: 160px;
  padding: 10px 18px;
}

@media (max-width: 480px) {
  .intro_knapper {
    flex-direction: column;
    align-items: center;
  }

  .intro_knapper .knap {
    min-width: 220px;
  }
}

@media (min-width: 800px) {
  .om_mig_grid {
    grid-template-columns: 1fr 1fr;
  }
}
