.header {
  background: #fff;
  padding: 36px 0;
}

.header_indhold {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  color: var(--blaa);
  text-decoration: none;
  font-family: "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.navigation {
  flex: 1;
  display: flex;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav_links a {
  color: var(--blaa);
  text-decoration: none;
  font-family: "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  font-weight: var(--fw-bold);
  font-size: var(--fs-stor);
}

.nav_links a:hover {
  color: orange;
}
